.main-panel {
  width: 300px;
  padding: 7px;
}

.content {
  //background-color: #343a40;
  //border-top: 2px solid white;
  border-radius: 15px;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.btn-empezar {
  background-color: #039C06;
  border: none;
  color: white;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 35px;

  &:hover{
      background-color: #028705;
  }
}

.txt-cantidad {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
